body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
}

@import "sidebar/sidebar";
@import "content/content";

@media (max-width: 1000px) {
  #root {
    flex-direction: column;
    .sidebar {
      width: 100%;
      min-width: 100%;
      border-right: none;
      border-bottom: 1px solid #ccc;
      padding: 15px;
      .logo {
        margin-bottom: 15px;
      }
      .description {
        font-size: 15px;
      }
    }
    .content {
      .header {
        height: initial;
        display: unset;
        padding: 0 20px;
        .search {
          display: flex;
          justify-content: center;
          .icon {
            padding-left: 5px;
            width: unset;
          }
          input {
            padding: 5px 30px;
            margin: 5px 2px;
            border: 1px solid #ddd;
          }
        }
        .download {
          padding: 0;
          display: flex;
          justify-content: center;
        }
      }
      .brands .brand.selected .brand-colors span {
        text-indent: -9999px;
      }
    }
  }
}
